PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/stock_trading_db
JWT_SECRET=supersecretjwtkey_production_ready_2026
JWT_EXPIRE=24h
JWT_REFRESH_SECRET=supersecretjwtrefreshkey_production_ready_2026
JWT_REFRESH_EXPIRE=7d
CLIENT_URL=http://localhost:5173
FINNHUB_API_KEY=
ALPHA_VANTAGE_API_KEY=
POLYGON_API_KEY=
